@import "./variables.scss";

body {
  color: $black;
  background: $white;
  margin: 0;
  font-family: sans-serif;
}

h2 {
  color: $callout1;
  margin: 0 0 .2em 0;
  font-weight: 100;
  font-size: 2.5rem;
  letter-spacing: .02em;
  line-height: 1em;
}

blockquote {
  border-left: 1px solid $callout2;
  padding-left: 1em;
  margin-left: 1.5em;
  font-style: italic;
  color: $callout2;
}

@import "../../node_modules/react-table/react-table";
